<div class="container">
    <form name = "add_new" method="POST" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control input-lg" name="empName" placeholder="Employee Full Name" ng-model="ename" required/>
            <input type="text" name="dept" placeholder="Department Name" ng-model="dname" required/>
            <input type="text" name="contact" placeholder="Contact No." ng-model="cntct" required/>
            <input type="text" name="address" placeholder="Address" ng-model="addr" required/>  
            <input type="text" name="status" placeholder="Employment Status" ng-model="status" required/>   
            <input type="tel" name="salary" placeholder="Salary" ng-model="sal" required/>   
            <div ng-if="add_new.$valid == true">
                <button ng-click="addUser()">Save</button>
            </div><br>
            <button ng-click="reset()">Reset</button>
        </div>
    </form>
</div>